luminosity 35920
output output.root
style cms

../NanoAOD_Submission/allData.root                                             Data.root
# ../NanoAOD_Submission/allData_Run2016H.root                                    Data.root


# ../NanoAOD_Submission/DYJetsToLL_M-10to50.root                                 DY+Jets.root     18610.0000       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50.root                                     DY+Jets.root      6025.2000       1.000000     bg     # 0.9025

# ../NanoAOD_Submission/DYJetsToLL_M-5to50_HT-70to100.root                       DY+Jets.root       301.0000       1.000000     bg     # 0.9025
# ../NanoAOD_Submission/DYJetsToLL_M-5to50_HT-100to200.root                      DY+Jets.root       224.2000       1.000000     bg     # 0.9025
# ../NanoAOD_Submission/DYJetsToLL_M-5to50_HT-200to400.root                      DY+Jets.root        37.2000       1.000000     bg     # 0.9025
# ../NanoAOD_Submission/DYJetsToLL_M-5to50_HT-400to600.root                      DY+Jets.root         3.5810       1.000000     bg     # 0.9025
# ../NanoAOD_Submission/DYJetsToLL_M-5to50_HT-600toInf.root                      DY+Jets.root         1.1240       1.000000     bg     # 0.9025

# ../NanoAOD_Submission/DYJetsToLL_M-50_HT-70to100.root                          DY+Jets.root       206.470093       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50_HT-100to200.root                         DY+Jets.root       213.4000       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50_HT-200to400.root                         DY+Jets.root        65.4200       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50_HT-400to600.root                         DY+Jets.root         7.3100       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50_HT-600to800.root                         DY+Jets.root         1.4900       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50_HT-800to1200.root                        DY+Jets.root         0.6610       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50_HT-1200to2500.root                       DY+Jets.root         0.1190       1.000000     bg     # 0.9025
../NanoAOD_Submission/DYJetsToLL_M-50_HT-2500toInf.root                        DY+Jets.root         0.0028       1.000000     bg     # 0.9025

../NanoAOD_Submission/DYJetsToLL_M-100to200.root                               DY+Jets.root       226.60000      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-200to400.root                               DY+Jets.root       7.7700000      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-400to500.root                               DY+Jets.root       0.4065000      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-500to700.root                               DY+Jets.root       0.2334000      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-700to800.root                               DY+Jets.root       0.0361400      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-800to1000.root                              DY+Jets.root       0.0304700      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-1000to1500.root                             DY+Jets.root       0.0163600      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-1500to2000.root                             DY+Jets.root       0.0021800      1.000000     bg     1.00 
../NanoAOD_Submission/DYJetsToLL_M-2000to3000.root                             DY+Jets.root       0.0005156      1.000000     bg     1.00 

../NanoAOD_Submission/ST_s-channel_4f_leptonDecays.root                        SingleTop.root       3.68   1.000000   bg     # 0.9500
../NanoAOD_Submission/ST_t-channel_antitop_4f_InclusiveDecays.root             SingleTop.root      80.95   1.000000   bg     # 0.9500
../NanoAOD_Submission/ST_t-channel_top_4f_InclusiveDecays.root                 SingleTop.root     136.02   1.000000   bg     # 0.9500
../NanoAOD_Submission/ST_tW_antitop_5f_inclusiveDecays.root                    SingleTop.root      38.06   1.000000   bg     # 0.9500
../NanoAOD_Submission/ST_tW_top_5f_inclusiveDecays.root                        SingleTop.root      38.06   1.000000   bg     # 0.9500

../NanoAOD_Submission/TTTo2L2Nu.root                                           t#bar{t}.root       88.29   1.000000         bg     # 0.9025
../NanoAOD_Submission/TTToHadronic.root                                        t#bar{t}.root      377.96   1.000000         bg     # 0.9025
../NanoAOD_Submission/TTToSemiLeptonic.root                                    t#bar{t}.root      365.34   1.000000         bg     # 0.9025

../NanoAOD_Submission/WJetsToLNu.root                                          W+Jets.root      61334.90   1.000000      bg     # 0.9500

# ../NanoAOD_Submission/WJetsToLNu_HT-70To100.root                               W+Jets.root       1353.00   1.000000      bg     # 0.9500
../NanoAOD_Submission/WJetsToLNu_HT-100To200.root                              W+Jets.root       1695.00   1.000000      bg     # 0.9500
../NanoAOD_Submission/WJetsToLNu_HT-200To400.root                              W+Jets.root        532.40   1.000000      bg     # 0.9500
../NanoAOD_Submission/WJetsToLNu_HT-400To600.root                              W+Jets.root         61.60   1.000000      bg     # 0.9500
../NanoAOD_Submission/WJetsToLNu_HT-600To800.root                              W+Jets.root         12.40   1.000000      bg     # 0.9500
../NanoAOD_Submission/WJetsToLNu_HT-800To1200.root                             W+Jets.root          5.77   1.000000      bg     # 0.9500
../NanoAOD_Submission/WJetsToLNu_HT-1200To2500.root                            W+Jets.root          1.023   1.000000      bg     # 0.9500
../NanoAOD_Submission/WJetsToLNu_HT-2500ToInf.root                             W+Jets.root          0.0248   1.000000      bg     # 0.9500

# ../NanoAOD_Submission/WW.root                                                  VV.root             64.30   1.000000      bg     # 0.9025
# ../NanoAOD_Submission/WZ.root                                                  VV.root             23.43   1.000000      bg     # 0.9025
# ../NanoAOD_Submission/ZZ.root                                                  VV.root             10.16   1.000000      bg     # 0.9025

../NanoAOD_Submission/WWTo2L2Nu.root                                           VV.root             10.48     1.000000      bg
../NanoAOD_Submission/WWTo4Q.root                                              VV.root             51.723    1.000000      bg
../NanoAOD_Submission/WWToLNuQQ.root                                           VV.root             43.530    1.000000      bg
../NanoAOD_Submission/WpWpJJ_QCD.root                                          VV.root              0.02612  1.000000      bg
../NanoAOD_Submission/WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root                  VV.root              2.616    1.000000      bg
../NanoAOD_Submission/GluGluWWTo2L2Nu_MCFM.root                                VV.root              0.5906   1.000000      bg
../NanoAOD_Submission/WZTo1L1Nu2Q.root                                         VV.root             10.730    1.000000      bg
../NanoAOD_Submission/WZTo1L3Nu.root                                           VV.root              3.0540   1.000000      bg
../NanoAOD_Submission/WZTo2L2Q.root                                            VV.root              5.6060   1.000000      bg
../NanoAOD_Submission/WZTo3LNu.root                                            VV.root              4.4300   1.000000      bg
../NanoAOD_Submission/ZZTo2L2Nu.root                                           VV.root              0.5644   1.000000      bg
../NanoAOD_Submission/ZZTo2L2Q.root                                            VV.root              3.2220   1.000000      bg
../NanoAOD_Submission/ZZTo2Q2Nu.root                                           VV.root              4.0330   1.000000      bg
../NanoAOD_Submission/ZZTo4L.root                                              VV.root              1.2560   1.000000      bg
../NanoAOD_Submission/ZZTo4Q.root                                              VV.root              6.842    1.000000      bg


# ../NanoAOD_Submission/Zprime1500.root                             Zp1500.root      64.7900         0.99000      sig
# ../NanoAOD_Submission/Zprime2500.root                             Zp2500.root      4.68400         0.99000      sig
# ../NanoAOD_Submission/Zprime3500.root                             Zp3500.root      0.597200        0.99000      sig


# ../NanoAOD_Submission/Zprime1500.root                             Zp1500.root     0.0647900        0.99000      sig
# ../NanoAOD_Submission/Zprime2500.root                             Zp2500.root     0.0046840        0.99000      sig
# ../NanoAOD_Submission/Zprime3500.root                             Zp3500.root     0.0005972        0.99000      sig


# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M250_gl1p0_gh1p0.root             Zp250_glh1p0.root   62.9000000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M500_gl1p0_gh1p0.root             Zp500_glh1p0.root    6.0410000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M750_gl1p0_gh1p0.root             Zp750_glh1p0.root    1.3670000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1000_gl1p0_gh1p0.root            Zp1000_glh1p0.root   0.4422000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1250_gl1p0_gh1p0.root            Zp1250_glh1p0.root   0.1737000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1500_gl1p0_gh1p0.root            Zp1500_glh1p0.root   0.0767300    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1750_gl1p0_gh1p0.root            Zp1750_glh1p0.root   0.0369400    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2000_gl1p0_gh1p0.root            Zp2000_glh1p0.root   0.0186400    1.00000      sig
# # ! ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2250_gl1p0_gh1p0.root            Zp2250_glh1p0.root   ?.???????    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2500_gl1p0_gh1p0.root            Zp2500_glh1p0.root   0.0053810    1.00000      sig
# # ! ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2750_gl1p0_gh1p0.root            Zp2750_glh1p0.root   ?.???????    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M3000_gl1p0_gh1p0.root            Zp3000_glh1p0.root   0.0017190    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M3500_gl1p0_gh1p0.root            Zp3500_glh1p0.root   0.0005883    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M4000_gl1p0_gh1p0.root            Zp4000_glh1p0.root   0.0002093    1.00000      sig


# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M250_gl1p0_gh1p0.root             Zp250_glh1p0.root 1846.000000     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M500_gl1p0_gh1p0.root             Zp500_glh1p0.root  172.500000     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M750_gl1p0_gh1p0.root             Zp750_glh1p0.root   37.930000     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1000_gl1p0_gh1p0.root            Zp1000_glh1p0.root  11.930000     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1250_gl1p0_gh1p0.root            Zp1250_glh1p0.root   4.557000     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1500_gl1p0_gh1p0.root            Zp1500_glh1p0.root   1.971000     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1750_gl1p0_gh1p0.root            Zp1750_glh1p0.root   0.926400     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2000_gl1p0_gh1p0.root            Zp2000_glh1p0.root   0.463300     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2250_gl1p0_gh1p0.root            Zp2250_glh1p0.root   0.242500     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2500_gl1p0_gh1p0.root            Zp2500_glh1p0.root   0.131300     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2750_gl1p0_gh1p0.root            Zp2750_glh1p0.root   0.072870     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M3000_gl1p0_gh1p0.root            Zp3000_glh1p0.root   0.041290     1.00000      sig
# # ! ../NanoAOD_Submission/Zprime_NonUniversalSSM_M3500_gl1p0_gh1p0.root            Zp3500_glh1p0.root   ?.??????     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M4000_gl1p0_gh1p0.root            Zp4000_glh1p0.root   0.004812     1.00000      sig


# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M250_gl1p0_gh1p0.root             Zp250_glh1p0.root 2399.8000000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M500_gl1p0_gh1p0.root             Zp500_glh1p0.root  224.2500000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M750_gl1p0_gh1p0.root             Zp750_glh1p0.root   49.3090000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1000_gl1p0_gh1p0.root            Zp1000_glh1p0.root  15.5090000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1250_gl1p0_gh1p0.root            Zp1250_glh1p0.root   5.9241000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1500_gl1p0_gh1p0.root            Zp1500_glh1p0.root   1.9710000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M1750_gl1p0_gh1p0.root            Zp1750_glh1p0.root   2.5623000    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2000_gl1p0_gh1p0.root            Zp2000_glh1p0.root   0.6022900    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2250_gl1p0_gh1p0.root            Zp2250_glh1p0.root   0.3152500    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2500_gl1p0_gh1p0.root            Zp2500_glh1p0.root   0.1706900    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M2750_gl1p0_gh1p0.root            Zp2750_glh1p0.root   0.0947310    1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M3000_gl1p0_gh1p0.root            Zp3000_glh1p0.root   0.0536770    1.00000      sig
# # ! ../NanoAOD_Submission/Zprime_NonUniversalSSM_M3500_gl1p0_gh1p0.root            Zp3500_glh1p0.root   ?.??????     1.00000      sig
# ../NanoAOD_Submission/Zprime_NonUniversalSSM_M4000_gl1p0_gh1p0.root            Zp4000_glh1p0.root   0.0062556    1.00000      sig


../NanoAOD_Submission/Zprime_NonUniversalSSM_M250_gl1p0_gh1p0.root             Zp250_glh1p0.root    0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M500_gl1p0_gh1p0.root             Zp500_glh1p0.root    0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M750_gl1p0_gh1p0.root             Zp750_glh1p0.root    0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M1000_gl1p0_gh1p0.root            Zp1000_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M1250_gl1p0_gh1p0.root            Zp1250_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M1500_gl1p0_gh1p0.root            Zp1500_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M1750_gl1p0_gh1p0.root            Zp1750_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M2000_gl1p0_gh1p0.root            Zp2000_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M2250_gl1p0_gh1p0.root            Zp2250_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M2500_gl1p0_gh1p0.root            Zp2500_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M2750_gl1p0_gh1p0.root            Zp2750_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M3000_gl1p0_gh1p0.root            Zp3000_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M3500_gl1p0_gh1p0.root            Zp3500_glh1p0.root   0.1000000    1.00000      sig
../NanoAOD_Submission/Zprime_NonUniversalSSM_M4000_gl1p0_gh1p0.root            Zp4000_glh1p0.root   0.1000000    1.00000      sig


####
# ../NanoAOD_Submission/qcd_estimate_cosdphicut90_ls.root                  QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_cosdphipttauleadandmetcutnone_ls.root   QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_cosdphipttauleadandmetcosdphicut90cutnone_ls.root   QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_cosdphipttauleadandmetcut91_ls.root   QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_recomass_cosdphicutnone_ls.root       QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_recomass_cosdphicut98_ls.root         QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_cosdphicutnone_ls.root	           QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_cosdphicutmass250_ls.root	           QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_cosdphicutmass250cut90_ls.root        QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_abscosdphipttauleadandmetcut80_ls.root        QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_basicmetbelow30_ls.root        QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_basicdeltaptbelow30_ls.root        QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_deltaptabove30_metabove30_ls.root        QCD.root       -1.0000000        1.00000      bg     1.16
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_metabove30_ls.root        QCD.root       -1.0000000        1.00000      bg     1.16
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_deltaptabove30_ls.root        QCD.root       -1.0000000        1.00000      bg     1.16
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crd_deltaptbelow30_metabove30_ls.root        QCD.root       -1.0000000        1.00000      bg     1.2
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_metabove20_ls.root        QCD.root       -1.0000000        1.00000      bg     1.16
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_metabove30_ls.root        QCD.root       -1.0000000        1.00000      bg     1.16
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_metabove30_ls_redo.root        QCD.root       -1.0000000        1.00000      bg     1.16
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_metabove40_ls.root        QCD.root       -1.0000000        1.00000      bg     1.16
# ../NanoAOD_Submission/qcd_estimate_basetopcuts_crc_metabove50_ls.root        QCD.root       -1.0000000        1.00000      bg     1.16
####
